/* ========================================
   SEÇÃO CURSOS
   ======================================== */

#cursos {
  height: 382px;
  background: top repeat url(../images/fundo-certificados.png);
  background-size: cover;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}

.texto-cursos {
  grid-column-start: 2;
  text-align: center;
}

.texto-cursos > h1 {
  padding-top: 20%;
  font-size: 2em;
  color: var(--texto);
  margin-bottom: 20px;
}

.texto-cursos > p {
  color: var(--informacoes);
  font-size: 1em;
  margin-bottom: 20px;
}

#cursos-container {
  margin: 0 40px;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  cursor: pointer;
  text-align: start;
}

.curso {
  margin: 0 10px;
  padding: 10px 15px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-left: var(--destaque-secundario) solid 5px;
  border-right: var(--destaque-secundario) solid 5px;
  transition: all 0.3s ease;
  position: relative;
}

.curso:hover {
  border-left: #4F38E0 solid 8px;
  border-right: #4F38E0 solid 8px;
  box-shadow: 4px 4px 12px rgba(88, 149, 240, 0.2);
  transform: translateY(-2px);
}

.curso > .curso-periodo {
  font-size: 0.8em;
}

.curso > .curso-local {
  color: var(--texto);
  font-size: 1em;
  transition: all 0.3s ease;
}

.curso:hover .curso-local {
  color: #8638E0;
}

.curso > .curso-legenda {
  font-size: 0.8em;
}

.curso-periodo {
  color: var(--texto);
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: bold;
}

.curso-local {
  color: var(--detalhes);
  margin-bottom: 0;
}

.curso-legenda {
  color: var(--informacoes);
  margin: 0;
  font-size: 0.9em;
}

.curso-btn {
  padding: 10px 15px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-left: var(--destaque) solid 5px;
  border-right: var(--destaque) solid 5px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.curso-btn:hover {
  border-left: var(--destaque-inverso) solid 8px;
  border-right: var(--destaque-inverso) solid 8px;
  box-shadow: 4px 4px 12px rgba(88, 149, 240, 0.2);
  transform: translateY(-2px);
}

.curso-menu {
  display: none;
}

.curso-menu.open {
  display: flex;
  flex-flow: column;
  gap: 15px;
  transition: 0.3s ease;
}

.fundo-menu-open-py {
  display: none;
  height: 160px;
  background: top repeat url(../images/fundo-certificados.png);
  background-size: cover;
}

.fundo-menu-open-py.open {
  display: block;
}

.fundo-menu-open-hc {
  display: none;
  height: 446px;
  background: top repeat url(../images/fundo-certificados.png);
  background-size: cover;
}

.fundo-menu-open-hc.open {
  display: block;
}
