@charset "UTF-8";
@import url('00..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fundo-principal: #1A1A1D;
    --texto: white;
    --informacoes: rgb(180, 180, 180);
    --destaque: #3957e0;
    --destaque-inverso: #1D2771;
    --detalhes: #5895F0;
    --font-titulo: "Montserrat";
    --font-texto: "Roboto";
}

body {
    background-color: var(--bg-dark);
    font-family: var(--font-texto);
    box-sizing: border-box;
}

.coluna {
    height: 500px;
}

.conteudo {
  height: 100%;
}

/* N A V B A R */

.navbar {
  box-shadow: 5px 3px 15px 0 rgba(0,0,0,0.3);
  position: relative;
}

.collapse,
.collapsing {
  transition: none !important;
}

@media (max-width: 575.98px) {

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: #212529;
    padding: 1rem;

    z-index: 1050;
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  }
}

.container-fluid {
  padding: 5px 0px 5px 30px;
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-toggler {
  margin-right: 30px;
}

.navbar-nav {
  padding-top: 10px;
}

/* H O M E */

.container-fluid {
  padding: 0px;
  margin: 0px;
}


/*Sobre Home*/

.home-sobre {
  padding-left: 20px;
}

.home-sobre > h2 {
    padding-top: 100%;
    font-size: 1em;
    color: var(--detalhes);
    margin-bottom: 0;
}

.home-sobre > h1 {
    font-size: 2em;
    color: var(--texto);
    margin-bottom: 0;
}

.home-sobre > p {
    font-size: 1em;
    color: var(--texto);
}

/*Imagem Home*/

#luvison-home-box {
  width: 100%;
  height: 620px;
  overflow: hidden;
  display: flex;
  align-items: end;
}

#luvison-home-box img {
  width: 100%;
  height: 620px;
  object-fit: cover;
  position: absolute;
  right: 0;
  object-position: bottom;
}

#barra-azul {
  background-color: var(--detalhes);
  width:100%;
  height: 10px;
  margin-top: 0px;
}

/* S O B R E */

/* Texto Sobre */

.texto-sobre {
  padding-left: 20px;
}

.texto-sobre > h1 {
  padding-top: 30%;
  font-size: 2em;
  color: var(--texto);
  margin-bottom: 20px;
}

.texto-sobre > p {
  font-size: 1em;
  color: var(--informacoes);
  padding-bottom: 30px;
}

#sobre-dados-box {
  height: 150px;
  display: flex;
  gap: 10px;
}

#dados-titulos > h2 {
  color: white;
  font-size: 1em;
  margin-bottom: 12px;
}

#dados-pessoais > p {
  color: var(--informacoes);
  font-size: 0.95em;
  width: 250px;
  line-height: 15px;
  margin-top: 3px;
}

#btn-curriculo-box {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#btn-cv {
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

#social-media {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2em;
}

#social-media > a > i {
  transition: 0.3s ease;
  border-radius: 50%;
  transform-origin: center;
}

#social-media > a > i:hover {
  color: var(--detalhes);
  transform: scale(1.1);
}


/*Imagem Sobre*/

#sobre-box {
  width: 100%;
  height: 670px;
  overflow: hidden;
  display: flex;
  align-items: end;
}

#sobre-box img {
  width: 100%;
  height: 670px;
  object-fit: cover;
  position: absolute;
  right: 0;
  object-position: left bottom;
  pointer-events: none;
}

/* H A B I L I D A D E S */

#habilidades {
  height: 670px;
  background: top no-repeat url(../images/fundo-habilidades.png);
  background-size: cover;
}

/* Texto Sobre */

.texto-habilidades {
  display: flex;
  justify-content: center;
}

.texto-habilidades > h1 {
  padding-top: 20%;
  font-size: 2em;
  color: var(--texto);
  margin-bottom: 20px;
}


/*Imagem Habilidades*/

#habilidades-box {
  width: 100%;
  height: 670px;
  overflow: hidden;
  display: flex;
  align-items: end;
}

#habilidades-box img {
  width: 100%;
  height: 670px;
  object-fit: cover;
  position: absolute;
  right: 0;
  object-position: top;
  pointer-events: none;
}

