@charset "UTF-8";

:root {
    --fundo-principal: #1A1A1D;
    --texto: white;
    --destaque: #102BEF;
    --destaque-inverso: #1D2771;
    --detalhes: #5895F0;
    --font-titulo: "Montserrat";
    --font-texto: "Roboto";
}

body {
    background-color: var(--bg-dark);
    font-family: var(--font-texto);
}

.coluna {
    height: 500px;
}

.conteudo {
  height: 100%;
}

/*Sobre Home*/

.home-sobre {
  
  padding-left: 10px;
}

.home-sobre > h2 {
    padding-top: 50%;
    font-size: 1em;
    color: var(--destaque);
    margin-bottom: 0;
}

.home-sobre > h1 {
    font-size: 2em;
    color: var(--texto);
    margin-bottom: 0;
}

.home-sobre > p {
    font-size: 1em;
    color: var(--texto);
}

/*Imagem Home*/

#luvison-home-box {
  width: 300px;
  height: 500px;
  overflow: hidden;
}

#luvison-home-box img {
  width: 100%;
  height: 500px;
  object-fit: cover;   /* recorta */
  object-position: top;
}