@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ========================================
   VARIÁVEIS E CORES
   ======================================== */

:root {
  --fundo-principal: #1A1A1D;
  --texto: white;
  --informacoes: rgb(180, 180, 180);
  --destaque: #3957e0;
  --destaque-inverso: #1D2771;
  --destaque-secundario: #8638E0;
  --detalhes: #5895F0;
  --font-titulo: "Montserrat";
  --font-texto: "Roboto";
}
